<!DOCTYPE html>
<html lang="en" ng-app="StringReverserAngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/stringreverser-ng-controller.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="SampleController">
    <h4>(งಠ_ಠ)ง</h4>
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
    <input type="text" placeholder="Type a string to reverse" ng-model="stringToReverse"/>
    <input type="button" ng-click="reverseSingleString(stringToReverse)" value="Enter"/>

    <h2>Reversed String: </h2>
    <span ng-bind="myStringItem.reversedText"></span>

    <h3>Click to show all reversed strings: </h3>
    <input type="button" ng-click="getAllStringItems()" value="Send"/>
    <ul>
        <li ng-repeat="stringitem in stringItems">
            {{stringitem.text}}: {{stringitem.reversedText}}
        </li>
    </ul>
</body>
</html>